@import './accessibility.css';
@import './responsive.css';
@import './forna-page.css';
@import './product.css';

:root {
  --forna-focus-width: 2px;
  --forna-focus-offset: 3px;
  --forna-z-skip-link: 100000;
}

[data-component='disclosure'] > summary {
  cursor: pointer;
}
